body {
    background-color: #dbeafe;
}
header {
    background-color: #a9a5de;
}

nav {
    background-color: #222222;
}

footer {
    background-color: #222222;
    color: white;
}
main {
    margin: 20px;

}
